<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sudoku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69EF13191C5516CD0038C2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69EF13321C5516CD0038C2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69EF133D1C5516CD0038C2B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
